<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.AdminMapper">
	
	<!-- 배송리스트 페이징 -->
	<select id="totalCount" resultType="int" parameterType="com.example.shoppingmall.dto.Page">
		SELECT COUNT(*)
		FROM delivery d
		inner join orders o
		<where>
			<if test="seller != null and seller != ''">
				AND o.username LIKE CONCAT('%', #{seller}, '%')
			</if>
			
			<if test="buyer != null and buyer != ''">
				AND o.username LIKE CONCAT('%', #{buyer}, '%')
			</if>
		</where>
	</select>
	
	<select id="deliveryList" resultType="map">
		SELECT d.order_no AS orderNo,
				d.delivery_number AS deliveryNumber,
				i.username AS seller,
				i.item_title AS itemName,
				o.username AS buyer,
				u.name AS NAME,
				d.status AS deliveryStatus,
				oc.order_date AS orderDate,
				d.start_date AS startDate,
				d.end_date AS endDate,
				d.cancel_date AS cancelDate
		FROM delivery d
		INNER JOIN orders o ON d.order_no = o.order_no
		INNER JOIN order_cart oc ON o.order_no = oc.order_no
		INNER JOIN item i ON oc.item_no = i.item_no
		INNER JOIN user u ON o.username = u.username
		<where>
			<if test="seller != null and seller != ''">
				AND i.username LIKE CONCAT('%', #{seller}, '%')
			</if>
			
			<if test="buyer != null and buyer != ''">
				AND o.username LIKE CONCAT('%', #{buyer}, '%')
			</if>
			oc.order_date IS NOT null
		</where>
		ORDER BY oc.order_date DESC
		LIMIT #{beginRow}, #{size}
	</select>
	
			<!-- 관리자 추가 -->
		<insert id="insertAdmin" parameterType="com.example.shoppingmall.dto.Admin">
			INSERT INTO admin (admin_id, password, role_no)
				VALUES (#{adminId}, #{password}, #{roleNo})
		</insert>
		
		<!-- 관리자 로그인 -->
		<!-- 암호화된 비밀번호 확인하려면 parameterType을 db에 있는 데이터로 비교해야한다. -->
		<select id="loginAdmin" parameterType="com.example.shoppingmall.dto.AdminLogin" resultType="com.example.shoppingmall.dto.Admin">
			SELECT admin_id AS adminId,
				   password
			FROM admin
			WHERE admin_id = #{adminId}
		</select>
		
		<!-- 관리자 정보 조회 -->
		<select id="adminProfile" parameterType="String" resultType="com.example.shoppingmall.dto.Admin">
			SELECT admin_no AS adminNo,
				   role_no AS roleNo, 
				   admin_id AS adminId
			FROM admin
			WHERE admin_id = #{adminId}
		</select>
		
		<!-- 관리자 리스트 -->
		<select id="adminList" resultType="com.example.shoppingmall.dto.Admin">
			SELECT admin_no AS adminNo,
				   admin_id AS adminId,
				   role_no AS roleNo
			FROM admin
		</select>
		
		<!-- 관리자 아이디 중복확인 -->
		<select id="adminIdCheck" parameterType="String" resultType="int">
			SELECT COUNT(*)
			FROM admin
			WHERE admin_id = #{adminId};
		</select>
	
</mapper>











