<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.CancelMapper">
	<insert id="insertCancelReason">
		INSERT INTO delivery_cancel (delivery_no, reason_code, etc_reason, cancel_date)
		VALUES (#{deliveryNo}, #{reasonCode}, #{etcReason}, now())
	</insert>
</mapper>