<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.CouponMapper">
	<!-- 관리자 쿠폰 전체 개수-->
	<select id="totalCount" parameterType="com.example.shoppingmall.dto.Page" resultType="int">
		SELECT COUNT(*)
		FROM coupon
		  <where>
    <!-- 통합 검색 -->
	    <if test="searchWord != null and searchWord != ''">
	      AND (
	        title LIKE CONCAT('%', #{searchWord}, '%') 
	        OR content LIKE CONCAT('%', #{searchWord}, '%') 
	        OR type LIKE CONCAT('%', #{searchWord}, '%')
	      )
	    </if>
	
	    <!-- 개별 조건 검색 -->
	    <if test="couponTitle != null and couponTitle != ''">
	      AND title LIKE CONCAT('%', #{couponTitle}, '%')
	    </if>
	    <if test="couponContent != null and couponContent != ''">
	      AND content LIKE CONCAT('%', #{couponContent}, '%')
	    </if>
	    <if test="couponType != null and couponType != ''">
	      AND type = #{couponType}
	    </if>
	    <if test="couponAmount != null and couponAmount != 0">
	      AND amount = #{couponAmount}
	    </if>
	    <if test="couponPercentage != null and couponPercentage != 0">
	      AND percentage = #{couponPercentage}
	    </if>
	  </where>
		</select>
	<!-- 관리자가 보는 쿠폰리스트 -->
	<!-- map으로 해도 되지만 dto로 반환해야 가독성도 좋고, 유지보수 용이하다 -->
	<select id="selectCouponList" parameterType="com.example.shoppingmall.dto.Page" resultType="com.example.shoppingmall.dto.Coupon" >
		SELECT coupon_no AS couponNo,
			   title,
			   content,
			   type,
			   amount,
			   percentage,
			   create_date AS createDate,
			   start_date AS startDate,
			   end_date AS endDate
		FROM coupon
		  <where>
		    <!-- 통합 검색 -->
		    <if test="searchWord != null and searchWord != ''">
		      AND (
		        title LIKE CONCAT('%', #{searchWord}, '%') 
		        OR content LIKE CONCAT('%', #{searchWord}, '%') 
		        OR type LIKE CONCAT('%', #{searchWord}, '%')
		      )
		    </if>
		
		    <!-- 개별 조건 검색 -->
		    <if test="couponTitle != null and couponTitle != ''">
		      AND title LIKE CONCAT('%', #{couponTitle}, '%')
		    </if>
		    <if test="couponContent != null and couponContent != ''">
		      AND content LIKE CONCAT('%', #{couponContent}, '%')
		    </if>
		    <if test="couponType != null and couponType != ''">
		      AND type = #{couponType}
		    </if>
		    <if test="couponAmount != null and couponAmount != 0">
		      AND amount = #{couponAmount}
		    </if>
		    <if test="couponPercentage != null and couponPercentage != 0">
		      AND percentage = #{couponPercentage}
		    </if>
		  </where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

</mapper>