<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.ItemOptionMapper">
<insert id="insertItemOption" parameterType="com.example.shoppingmall.dto.ItemOption">
	INSERT INTO item_option (item_no, option_name, item_option_no ,option_value, stock) VALUES (#{itemNo}, #{optionName}, #{optionNo}, #{optionValue}, #{stock});
</insert>

<select id="optionsByItem" parameterType="int" resultType="com.example.shoppingmall.dto.ItemOption">
	SELECT 
		io.option_no AS optionNo,
		io.item_option_no AS itemOptionNo,
		io.option_name AS optionName,
		io.option_value AS optionValue,
		io.stock AS stock,
		i.item_amount AS price
	FROM item_option io
	INNER JOIN item i ON io.item_no = i.item_no
	WHERE io.item_no = #{itemNo}
</select>
</mapper>