<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.SellerMapper">
	<!-- 주문리스트 -->
	<select id="selectOrderList" resultType="map">
		SELECT
		    i.item_no AS itemNo,
		    i.username AS seller,
		    i.item_title AS itemTitle,
		    IO.option_name AS optionName,
			IO.option_value AS optionValue,
			oc.count AS count,
		    i.item_amount AS itemAmount,
		    u2.name AS buyerName,
		    o.total_price AS totalPrice,
		    oc.status AS ordersStatus,
		    o.order_date AS orderDate,
		    d.status AS deliveryStatus,
		    a.address AS address,
		    a.address2 AS address2,
		    a.post_code AS postCode,
		    d.delivery_no AS deliveryNo,
		    o.order_no AS orderNo,
		    d.point_processed AS point
		FROM order_cart oc
		INNER JOIN item i ON oc.item_no = i.item_no
		INNER JOIN user u ON i.username = u.username 
		INNER JOIN orders o ON oc.order_no = o.order_no
		INNER JOIN user u2 ON o.username = u2.username
		INNER JOIN delivery d ON o.order_no = d.delivery_no
		INNER JOIN user_address ua ON o.username = ua.username
		INNER JOIN address a ON ua.address_no = a.address_no
		LEFT JOIN item_option IO ON i.item_no = IO.item_no
	<where>
		i.username = #{username}
		<if test="buyer != null and buyer != ''">
			AND u2.name LIKE CONCAT('%', #{buyer}, '%')
		</if>
		
		<if test="deliveryStatus != null and deliveryStatus != ''">
			AND d.status = #{deliveryStatus}
		</if>
		
		<if test="ordersStatus != null and ordersStatus != ''">
			AND o.status = #{ordersStatus}
		</if>
	</where>
	ORDER BY o.order_date DESC
	LIMIT #{beginRow}, #{size}
	</select>
	
	<!-- 주문리스트 페이징 -->
	<select id="totalCount" resultType="int" parameterType="com.example.shoppingmall.dto.Page">
		SELECT COUNT(*)
		FROM order_cart oc
		inner join item i on oc.item_no = i.item_no
		inner join orders o on oc.order_no = o.order_no
		inner join delivery d on o.order_no = d.delivery_no
		<where>
			i.username = #{username}
			<if test="buyer != null and buyer != ''">
				AND o.username LIKE CONCAT('%', #{buyer}, '%')
			</if>
			
			<if test="deliveryStatus != null and deliveryStatus != ''">
				AND d.status = #{deliveryStatus}
			</if>
			
			<if test="ordersStatus != null and ordersStatus != ''">
				AND o.status = #{ordersStatus}
			</if>
		</where>
	</select>
	
	<!-- 운송장번호 insert -->
	<update id="updateDeliveryNumber" parameterType="map">
		UPDATE delivery SET delivery_number = #{deliveryNumber}, start_date = NOW()
		WHERE delivery_no = #{deliveryNo} AND order_no = #{orderNo}
	</update>
	
	<!-- 배송상태변경 -->
	<update id="startDelivery">
		UPDATE delivery SET STATUS = 'CURRENT'
		WHERE delivery_no = #{deliveryNo}
	</update>
	
	<!-- 배송상태 완료처리(스케쥴러) -->
	<update id="deliveryChangeToFinish">
		UPDATE delivery SET status = 'finish', end_date = NOW()
		WHERE status = 'CURRENT'
		and start_date &lt; DATE_SUB(NOW(), INTERVAL 3 DAY)
	</update>
	
	<!-- 배송완료건 조회 -->
	<select id="selectFinishDelivery">
		SELECT
			o.username AS buyer,
			o.total_price AS totalPrice,
			o.order_no AS orderNo
		FROM delivery d
		inner join orders o on d.order_no = o.order_no
		WHERE d.status = 'FINISH'
		AND d.point_processed = 'N'
		AND TIMESTAMPDIFF(DAY, end_date, NOW()) &gt;= 7
	</select>
	
	<!-- 포인트 적립 -->
	<update id="addPoint">
		UPDATE user
		SET user_point = user_point + #{point}
		WHERE username = #{buyer}
	</update>
	
	<!-- 포인트 지급 상태 처리 -->
	<update id="changPointProvessed">
		UPDATE delivery
		SET point_processed = 'Y'
		WHERE order_no = #{orderNo}
	</update>
</mapper>